# <span style = 'color:Orange'> <center> Supply Chain Management For Cars </center> </span>
---

In [ ]:
<span style = 'color:'> </span>
---

## <span style = 'color:Blue'> Importing the required Libraries </span>
---

In [76]:
import numpy as np
import pandas as pd

## <span style = 'color:Blue'> Importing the data (.csv format) </span>
---

In [77]:
df = pd.read_csv("./Dataset/Car_SupplyChainManagementDataSet.csv")

## <span style = 'color:Blue'> Exploratory Data Analysis (EDA) </span>
---

### <span style = 'color:Green'> Information about the data </span>
---

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SupplierID              1000 non-null   int64
 1   SupplierAddress         1000 non-null   object
 2   SupplierName            1000 non-null   object
 3   SupplierContactDetails  1000 non-null   object
 4   ProductID               1000 non-null   int64
 5   CarMaker                1000 non-null   object
 6   CarModel                1000 non-null   object
 7   CarColor                1000 non-null   object
 8   CarModelYear            1000 non-null   int64
 9   CarPrice                1000 non-null   float64
 10  CustomerID              1000 non-null   object
 11  CustomerName            1000 non-null   object
 12  Gender                  1000 non-null   object
 13  JobTitle                1000 non-null   object
 14  PhoneNumber             1000 non-null   object
 15  EmailAddress            1000 non-null   object
 16  City                    1000 non-null   object
 17  Country                 1000 non-null   object
 18  CountryCode             1000 non-null   object
 19  State                   1000 non-null   object
 20  CustomerAddress         1000 non-null   object
 21  OrderDate               1000 non-null   object
 22  OrderID                 1000 non-null   object
 23  ShipDate                1000 non-null   object
 24  ShipMode                1000 non-null   object
 25  Shipping                1000 non-null   object
 26  PostalCode              1000 non-null   int64
 27  Sales                   1000 non-null   float64
 28  Quantity                1000 non-null   int64
 29  Discount                1000 non-null   float64
 30  CreditCardType          1000 non-null   object
 31  CreditCard              1000 non-null   int64
 32  CustomerFeedback        1000 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 257.9+ KB

### ***<span style = 'color:Green'> Shape of the Dataset </span>***
---

In [79]:
print(f"There are {df.shape[0]} records and {df.shape[1]} features in the dataset")

There are 1000 records and 33 features in the dataset

### <span style = 'color:Green'>***Display of the first 5 records of the dataset***</span>
---

In [80]:
df.head()

,SupplierID,SupplierAddress,SupplierName,SupplierContactDetails,ProductID,CarMaker,CarModel,CarColor,CarModelYear,CarPrice,...,ShipDate,ShipMode,Shipping,PostalCode,Sales,Quantity,Discount,CreditCardType,CreditCard,CustomerFeedback
0,1,542 Dayton Center,Bubbletube,871-57-6028,8893,Dodge,Ram 2500,Goldenrod,2007,521963.45,...,2019/03/14,Standard Class,Truck,99522,744796.41,1,0.83,diners-club-carte-blanche,30408016042565,Bad
1,2,0674 Springview Circle,Tagopia,337-64-4060,9444,Toyota,Tundra,Crimson,2010,672222.04,...,2019/03/06,Standard Class,Truck,56398,794773.17,1,0.79,jcb,3549221112237767,Good
2,3,70 Autumn Leaf Center,Zoomdog,218-19-1802,253,GMC,Savana 1500,Crimson,2011,504465.72,...,2019/01/20,Second Class,Air,60674,968244.90,1,0.28,jcb,3557159608180902,Okay
3,4,649 Corben Lane,Oozz,635-15-3112,1283,Volkswagen,Cabriolet,Fuscia,1990,646077.11,...,2019/03/16,First Class,Truck,32885,942213.82,2,0.76,jcb,3529909223663921,Very Bad
4,5,94 Namekagon Point,Kare,849-23-6788,8905,Mercury,Mariner,Teal,2009,699890.24,...,2019/01/29,Second Class,Air,48232,879519.57,1,0.50,china-unionpay,5602235978541517,Bad

## <span style = 'color:Blue'>***Importing the pymsql library***</span>
---

In [81]:
import pymysql

### <span style = 'color:Green'> ***Establish a connection to the database*** </span>
---


*   Create connection object using the pymysql.connect()

In [82]:
connection = pymysql.connect(
    host='localhost',  # Replace with public IP or domain
    user='root',  # Replace with your username
    password='FlyingBeast@11',  # Replace with your password
    database='SupplyChainManagementForCar',  # Replace with your database name
    port=3306  # Default MySQL port
)

### <span style = 'color:Green'> ***Creating a cursor object*** </span>
---

In [83]:
cur = connection.cursor()

In [84]:
numCols = len(df.columns)

placeholders = ','.join(['%s']) * numCols

### <span style = 'color:Green'> ***Creating a table inside a database : **SupplyChainManagementForCar**.*** </span>
---

In [85]:
cur.execute("create table car (SupplierID text, SupplierAddress text, SupplierName text, SupplierContactDetails text, ProductID text, CarMaker text, CarModel text, CarColor text, CarModelYear text, CarPrice text, CustomerID text, CustomerName text, Gender text, JobTitle text, PhoneNumber text, EmailAddress text, City text, Country text, CountryCode text, State text, CustomerAddress text, OrderDate text, OrderID text, ShipDate text, ShipMode text, Shipping text, PostalCode text, Sales text, Quantity text, Discount text, CreditCardType text, CreditCard text, CustomerFeedback text)")

0

### <span style = 'color:Green'> ***Insert all the records into table : cars.*** </span>
---

In [86]:
placeholders = ', '.join(['%s'] * len(df.columns))  # Generate %s placeholders for each column
sql = f"INSERT INTO car VALUES ({placeholders})"

# Insert records into the database
try:
    data = [tuple(row) for row in df.to_numpy()]  # Convert DataFrame rows to list of tuples
    cur.executemany(sql, data)  # Batch insert
    connection.commit()
    print("Data inserted successfully!")
except Exception as e:
    print(f"An error occurred: {e}")

Data inserted successfully!

---